@font-face {
  font-family: "Alma Mono";
  src: url("./almamono-regular-webfont.woff") format("woff");
}

body {
  color: #fff;
  font-family: "Alma Mono", monospace;
  background-color: #000;
  text-align: center;
  padding: 10px;
}

img {
  margin: 20px auto;
}

.flyer {
  display: block;
  width: 100%;
  max-width: 1280px;
  height: auto;
}
